body{
   margin: 0px; 
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.mainButton{
    background-color: #1bb76e;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 2px 2px gray;
}

.mainButton:hover{
    cursor: pointer;
    background-color: #29d183;
    transform: scale(1.2);
}