body{
   margin: 0px; 
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(211, 202, 202);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}
.navbar > li {
    display:  flex;
    align-items: center;
}

.logo{
    height: 70px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.mainButton{
    background-color: #1bb76e;
    color: white;
    box-shadow: 2px 2px gray;
}

.mainButton:hover{
    background-color: #29d183;
}

.secondaryButton {
    background-color: #66d8f5;
    color: white;
}

.secondaryButton:hover {
    box-shadow: 1px 1px #788081;
}

.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within {
    border: 1px solid blue;
}

.buscar > input {
    outline: none;
    border: 0px;
}

.iconoBusqueda:hover {
    color: rgb(0, 255, 21);
}

.breedCardContainer{
    display: flex;
}

.breedCard {
    margin: 10px;
}

.contenedorImagen {
    width: 340px;
    height: 180px;
    display: flex;
}

.contenedorImagen > img {
    object-fit: fill;
    width: 100%;
}

